<div class="demo-card-square mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone  mdl-shadow--2dp" style="background:white">
  <div class="mdl-card__supporting-text ">
    <form action="/" method="get">
      <div class="mdl-textfield mdl-js-textfield" style= "width: 100%">
        <textarea class="mdl-textfield__input" type="text" rows= "8" id="sample" ><%= @message.decrypted_body%></textarea>
      </div>
      </br>
      <button href="/" class="mdl-button mdl-js-button mdl-button--raised">Done</button>
    </form>
  </div>
</div>
